<ul class="linklist">
  <li><a href='/admin/stories/new'>Submit a new story/writiing</a></li>
  <li><a href='/admin/blogentries/new'>Create a new blog entry</a></li>
</ul>
<%- contentFor('contenttitle') %>
Site Administration
<%- contentFor('contentright') %>
<%- contentFor('opengraph') %>
