<h2>About Kristina</h2>
<p>This is info about Kristina.  I need her bio from her.
</p> 
<%- contentFor('contenttitle') %>
Kristina Zakrzewski Bio
<%- contentFor('contentright') %>
<img src="/images/kris_bw.png" width="300" />
