<h2>About Kristina</h2>
<p>Kristina Zakrzewski is the mother of two and a wife of one. A high school teacher by day, she moonlights as a writer 
by night or by morning, or by any five minute increment she can get to scrawl something down on paper. Author of Cold Coffee, 
Kristina is currently working on the sequel A Second Helping of Cold Coffee and Catching Artemis.
</p> 
<%- contentFor('contenttitle') %>
Bio
<%- contentFor('contentright') %>
<img src="/images/kris3.png" width="270" />
