<a class="booklistlink" href="/books/Cold_Coffee">
<div class="booklist">
	<!-- <a href="/books/503c0cb5709e95246a000001"><img src="/images/503c0cb5709e95246a000001.png" width="100px" align="left" class="bookicon"/></a> -->
	<img src="/images/coldcoffee_cover_small.png" align="left" class="bookicon"/>
	<h2>Cold Coffee</h2>  
	<h5>Published Aug 27, 2012</h5>
	<p>Beatrice Johnson. Fiercely independent. Fiercely protective. Fiercely talented when it comes to building 
	anything out of raw materials. And fiercely...not able to pick herself up after the death of her husband. Two 
	years after, the memories of her late husband ever present, her best friend suddenly moving in, and 
	her daughter struggling with life in general, Bea decides to begin rebuilding her family's lives. After 
	all, with a little bit of elbow grease, and maybe some...(click to read more)
	</p>
</div>
</a>
<a class="booklistlink" href="/books/Catching_Artemis">
<div class="booklist booklistlast">
	<img src="/images/catchingartemis_cover_small.png" align="left" class="bookicon"/>
	<h2>Catching Artemis</h2>
	<h5>Work in Progress</h5>
	<p>This is my work in progress.  Stay tuned because I'll let you read the chapters as I finish them...(click to read more)</p>
</div>
</a>
<%- contentFor('contenttitle') %>
Novels
<%- contentFor('contentright') %>
