<script>
/*
	// When the document loads do everything inside here ...
	$(document).ready(function() {
		$(".bookicon").hoverIntent(function() {
			$("#lookInside").slideDown(300);
		}, function() {
			$("#lookInside").slideUp(10);
		});
	});
*/
</script>
<div class="contentLeftColumn1">
	<div id="lookInside" style="position:absolute; left:25px; top:-6px;">
	<h5></h5>
	</div>
	<img alt="Catching Artemis - Look Inside" src="/images/catchingartemis_cover.png" width="210px" align="left" class="bookicon"/>
</div>
<div class="contentLeftColumn2">
	<h2>Catching Artemis</h2>
	<h5>Not Yet Published - Work in Progress</h5>
	<p class="highlightBox">This book is a work in progress.  Stay tuned and you'll be able to read chapters as they are completed!</p>
	<p>Ohio is known for many things, including its serial killers.  Thankfully, Columbus has Detective Edward Milkovic 
	on duty. And thankfully, our serial killer has hit a road bump in his master plan.  That road bump is Miss Lucy Bennett. 
	Will Detective Milkovic find the serial killer who has already taken the lives of about nine individuals?  Will our serial 
	killer finally get his latest victim? Or will Lucy Bennett prove to be as elusive as her nickname.
	</p> 
</div>
<%- contentFor('contenttitle') %>
Catching Artemis
<%- contentFor('contentright') %>
<a href="/books/Cold_Coffee"><img src="/images/coldcoffee_ad2.png" width="300" /></a>
