<script>
	// When the document loads do everything inside here ...
	/*
	$(document).ready(function() {
		$(".bookicon").hoverIntent(function() {
			$("#lookInside").slideDown(300);
		}, function() {
			$("#lookInside").slideUp(10);
		});
	});
	*/
</script>
<div class="contentLeftColumn1">
	<div id="lookInside" style="position:absolute; left:25px; top:-6px;">
	<h5>Click to look inside...</h5>
	</div>
	<img alt="Catching Artemis - Look Inside" src="/images/catchingartemis_cover.png" width="210px" align="left" class="bookicon"/>
</div>
<div class="contentLeftColumn2">
	<h2>Catching Artemis</h2>
	<h5>Not Yet Published - Work in Progress</h5>
	<p>blah blah blah blah blah blah blah blah blah
	</p> 
</div>
<%- contentFor('contenttitle') %>
Catching Artemis | Kristina Zakrzewski
<%- contentFor('contentright') %>
<a href="/books/Cold_Coffee"><img src="/images/coldcoffee_ad2.png" width="300" /></a>
